body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    overflow-x: hidden;
}

.container {
    height: 25vh;
    width: 100%;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.container-XL {
    height: 40vh;
    width: 100%;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.glowy-button {
    height: 90px;
    width: 240px;
    border-radius: 50px;
    font-size: 34px;
    border: none;
    background-color: black;
    outline: none;
    color: white;
    z-index: 3;
    cursor: pointer;
}

.glowy-button-outer {
    height: 100px;
    width: 250px;
    border-radius: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}

.glowy-button-outer:hover {
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: spin 1.5s infinite;
}

.glowy-button-blur {
    position: absolute;
    height: 105px;
    width: 265px;
    border-radius: 50px;
    z-index: 1;
    filter: blur(20px);
}

.glowy-button-outer:hover .glowy-button-blur {
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

@keyframes spin {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/*-----------------------------------------------------------------------------------------*/

.infinite-scrolling-reel {
    height: 80%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
    left: 25%;
}

.reel {
    display: flex;
    width: 100%;
    justify-content: space-around;
    animation: scroll 20s linear infinite;
}

.reel h1 {
    color: white;
}

.reel h1:hover {
    color: gold;
}

@keyframes scroll {
    0% { transform: translateX(0%);}
    100% { transform: translateX(-100%);}
}

.infinite-scrolling-reel:hover .reel {
    animation-play-state: paused;
}

/*---------------------------------------------------------------------------*/

.card-stack {
    height: 80%;
    width: 25%;
    background-color: gainsboro;
    border-radius: 20px;
    
    
}

.card-mid {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    border-radius: 20px;
    z-index: 2;
    transition-duration: 1s;
}

.card-bot {
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    border-radius: 20px;
    z-index: 1;
    transition-duration: 1s;
}

.card-stack:hover .card-mid {
    transform: translateX(120%);
    transition-duration: 1s;
}

.card-stack:hover .card-bot {
    transform: translateX(120%);
    transition-duration: 1s;
}

/*---------------------------------------------------------------------------*/