body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    
}

.container {
    height: 25vh;
    width: 100%;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.container-XL {
    height: 40vh;
    width: 100%;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.glowy-button {
    height: 90px;
    width: 240px;
    border-radius: 50px;
    font-size: 34px;
    border: none;
    background-color: black;
    outline: none;
    color: white;
    z-index: 3;
    cursor: pointer;
}

.glowy-button-outer {
    height: 100px;
    width: 250px;
    border-radius: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}

.glowy-button-outer:hover {
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: spin 1.5s infinite;
}

.glowy-button-blur {
    position: absolute;
    height: 105px;
    width: 265px;
    border-radius: 50px;
    z-index: 1;
    filter: blur(20px);
}

.glowy-button-outer:hover .glowy-button-blur {
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

@keyframes spin {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/*-----------------------------------------------------------------------------------------*/

.infinite-scrolling-reel {
    height: 80%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: relative;
    left: 25%;
}

.reel {
    display: flex;
    width: 100%;
    justify-content: space-around;
    animation: scroll 20s linear infinite;
}

.reel h1 {
    color: white;
}

.reel h1:hover {
    color: gold;
}

@keyframes scroll {
    0% { transform: translateX(0%);}
    100% { transform: translateX(-100%);}
}

.infinite-scrolling-reel:hover .reel {
    animation-play-state: paused;
}

/*---------------------------------------------------------------------------*/

.card-stack {
    height: 80%;
    width: 25%;
    background: rgba(180, 47, 155, 0.63);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(180, 47, 155, 0.47);
}

.card-mid {
    height: 100%;
    width: 100%;
    background: rgba(30, 179, 199, 0.63);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(30, 179, 199, 0.47);
    z-index: 2;
    transition-duration: 1s;
}

.card-bot {
    height: 100%;
    width: 100%;
    background: rgba(214, 248, 131, 0.63);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(214, 248, 131, 0.47);
    z-index: 1;
    transition-duration: 1s;
}

.card-stack:hover .card-mid {
    transform: translateX(120%);
    transition-duration: 1s;
}

.card-stack:hover .card-bot {
    transform: translateX(120%);
    transition-duration: 1s;
}

/*---------------------------------------------------------------------------*/

.frosted-glass {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #ff4f8b, #dff1ff);
}

.colour {
    position: relative;
    filter: blur(115px);
}

.colour:nth-child(1) {
    height: 200px;
    width: 400px;
    left: -200px;
    background-color: #AEE8EB;
}

.colour:nth-child(2) {
    height: 300px;
    width: 300px;
    left: 200px;
    bottom: -20px;
    background-color: #EBD0AE;
}

.colour:nth-child(3) {
    height: 200px;
    width: 100px;
    left: -50px;
    bottom: 50px;
    background-color: #FFA500;
}

.frosted-glass ul {
    position: relative;
    left: -25%;
    list-style: none;
    display: flex;
    gap: 150px;
}

.frosted-glass li {
    margin-block: 0;
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100px;
    width: 100px;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    font-size: 34px;
    font-weight: bolder;
    border-radius: 15px;
    transition: 0.3s;
}

.frosted-glass li:hover {
    transform: translateY(-30px);
    box-shadow: 0 5px 45px rgba(0,0,0,0.15);
}


/*-----------------------------------------------------------------------*/

.depth-button{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 50px;
    font-weight: 900;
    background-color: transparent;
    border: none;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.1),
                 2px 2px 6px rgba(0,0,0,0.8);
    cursor: pointer;
}

.depth-button:hover {
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.2),
                inset 2px 2px 6px rgba(0,0,0,1);
    color: #00fff1;
    backdrop-filter: blur(1px);
}